#Wrapper{width: 100%;
height: 1035px;
background-color: #d7ad9d;
margin: 0 auto;}

#Header{width: 97.2%;
height: 150px;
background-color: #f7e8e3;
color: #020101;
float: left;
margin-right: 5px;
margin-top: 10px;
margin-left: 10px;
margin-bottom: 10px;
padding-left: 15px;
padding-top: 15px;
border: #020101 3px solid;}

.Headerimage1{width: 150px;
height: 131px;
position: relative;
margin: 0 auto;
float: left;
border: #020101 3px solid;}

.WebsiteName{width: 700px;
height: 150px;
position: absolute;
margin: 0 auto;
margin-left: 365px;
margin-top: 15px;
text-align: center;
margin-top: 45px;}

.Headerimage2{width: 150px;
height: 131px;
position: relative;
margin: 0 auto;
float: right;
border: #020101 3px solid;
margin-right: 15px;}

#NavigationArea{width: 98.2%;
height: 70px;
background-color: #f7e8e3;
text-align: center;
float: left;
margin-right: 10px;
margin-top: 1px;
margin-left: 10px;
margin-bottom: 11px;
border: #020101 3px solid;}

.NavigationLinks{width: 130px;
height: 30px;
background-color: #946659;
float: left;
position: relative;
margin-left: 120px;
margin-top: 15px;
padding-top: 10px;}

.NavigationLinks:hover{background-color: #020101;}

.Link4{width: 130px;
height: 30px;
background-color: #946659;
float: left;
position: relative;
margin-left: 120px;
margin-top: 15px;
margin-right: 105px;
padding-top: 10px;}

.Link4:hover{background-color: #020101;}

/*https://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_hover was used for hovering links*/

.Linklabel{color: #d9c6c0;
font-size: 17px;
font-weight: bold;
margin-top: 5px;}

.SocialMedia{width: 40px;
height: 40px;
position: relative;
float: left;
margin-top: 15px;
margin-right: 25px;
margin-left: 15px;}

#ContentArea{width:98.5%;
height: 624px;
text-align: center;
clear: both;
margin: 0 auto;}

#Contenttext{width: 920px;
height:624px;
border: #020101 3px solid;
background-color: #f7e8e3;
color: #020101;}

#Contenttext h2{
width: 770px;
float:left;
margin-left: 50px;
position: relative;
text-align: left;}

#Contenttext p{width: 780px;
font-size: 17px;
float:left;
margin-left: 50px;
position: relative;
text-align: left;}

.Contentimage{width: 445px;
height: 619px;
border: #020101 3px solid;
float: right;
position: relative;
margin-left: 25px;
padding-top: 5px;
padding-right: 5px;
background-color: #f7e8e3;}

.Imagecontent{width: 435px;
height: 609px;
text-align: center;
float: right;
position: relative;
margin-left: 25px;
border: #020101 3px solid;}

#Footer{width: 98.2%;
height: 95px;
background-color: #f7e8e3;
color: #020101;
font-size: 12px;
text-align: center;
float: left;
margin-right: 10px;
margin-top: 10px;
margin-left: 10px;
clear: both;
border: #020101 3px solid;
padding-top: 5px;}
