
body{background-color:green;}

#wrapper{width:700px;
margin:0 auto;
background-color:red;}

#header{height:70px;
text-align:center;}

#leftbody{float:left;
width:175px;
height: 55px;
background-color: pink;
font-weight: bold;
padding-top: 15px;}

#rightbody{float:right;
width:525px;
height:55px;
background:orange;
font-weight: bold;
padding-top: 15px;}

#content{height: 600px;
width: 700px;
background-color: blue;
font-weight: bold;}

#footer{height:50px;
clear:both;
background-color: yellow;
font-weight: bold;}
