
body{background-color:green;
font-weight: bold;}

#wrapper{width:700px;
margin:0 auto;
background-color:red;}

#header{height:70px;
text-align:center;}

#leftbody{float:left;
width:175px;
height: 55px;
background-color: pink;
padding-top: 15px;}

#rightbody{float:right;
width:525px;
height:55px;
background-color:orange;
padding-top: 15px;}

#content{height: 600px;
width: 700px;
background-color: blue;}

#footer{height:50px;
clear:both;
background-color: yellow;}
